<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="HomePageTest">
		<classes>
			<class name="com.demoaut.NewTours2.HomePageValidation" />
		</classes>
	</test>
	<test thread-count="5" name="RegisterUserTest">
		<classes>
			<class name="com.demoaut.NewTours2.RegisterPageTest" />
		</classes>
	</test>
	<test thread-count="5" name="LoginPageTest">
		<classes>
			<class name="com.demoaut.NewTours2.LoginPageTest" />
		</classes>
	</test>
</suite>
